.counter-wrapper {
  display: flex;
  justify-content: center;
  padding: 40px;
  align-items: center;
}

.time {
  display: block;
  width: 16px;
  padding: 8px;
  border: 1px solid rgb(37, 40, 197);
  border-radius: 3px;
}
